#include "resource.h"

IDI_TETRIS_ICON				ICON	"icon.ico"
IDI_TETRIS_BG				RCDATA	"bg.tga"
IDI_TETRIS_BLOCK_RED		RCDATA	"block_red.tga"
IDI_TETRIS_BLOCK_YELLOW		RCDATA	"block_yellow.tga"
IDI_TETRIS_BLOCK_MAGENTA	RCDATA	"block_magenta.tga"
IDI_TETRIS_BLOCK_BLUE		RCDATA	"block_blue.tga"
IDI_TETRIS_BLOCK_CYAN		RCDATA	"block_cyan.tga"
IDI_TETRIS_BLOCK_GREEN		RCDATA	"block_green.tga"
IDI_TETRIS_BLOCK_ORANGE		RCDATA	"block_orange.tga"
IDI_TETRIS_NUMBER_0			RCDATA	"0.tga"
IDI_TETRIS_NUMBER_1			RCDATA	"1.tga"
IDI_TETRIS_NUMBER_2			RCDATA	"2.tga"
IDI_TETRIS_NUMBER_3			RCDATA	"3.tga"
IDI_TETRIS_NUMBER_4			RCDATA	"4.tga"
IDI_TETRIS_NUMBER_5			RCDATA	"5.tga"
IDI_TETRIS_NUMBER_6			RCDATA	"6.tga"
IDI_TETRIS_NUMBER_7			RCDATA	"7.tga"
IDI_TETRIS_NUMBER_8			RCDATA	"8.tga"
IDI_TETRIS_NUMBER_9			RCDATA	"9.tga"
IDI_TETRIS_GAMEOVER			RCDATA	"gameover.tga"
